/* здесь используйте глобальные переменные */

$white: #ffffff;
$black: #000000;
$secondary-black: #111111;
$additional-black: #222222;
$grey: #cdcdcd;
$black-description: #444444;
$bg-green: #68b738;
$bg-grey: #d9d9d9;
$bg-secondary-grey: #f2f2f2;
$bg-aditional-grey: #eaeaea;

$primary-font: "Oswald", sans-serif;
$secondary-font: "Lato", sans-serif;
