.advantages__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.advantages__list {
  list-style: none;
}

.advantages__item {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: $black-description;
}
