.button {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  border: none;

  &--green {
    background-color: $main-color;
    color: $white;

    &:hover,
    &:focus {
      background-color: #5eaa2f;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: #5eaa2f;
    }
  }

  &--transparent {
    background-color: transparent;
    line-height: 16px;
    color: $black;

    @media (min-width: $tablet) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &--grey {
    background-color: $bg-secondary-grey;
    color: $black-description;

    &:hover,
    &:focus {
      background-color: #ebebeb;
    }

    &:active {
      color: rgba(68, 68, 68, 0.3);
      background-color: #ebebeb;
    }
  }

  &--big-green {
    background-color: $main-color;
    color: $white;
    font-size: 20px;
    line-height: 26px;
  }
}
