.copyright {
  margin-top: 9px;
}

.copyright__link {
  margin: 0;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  width: 280px;

  @media (min-width: $tablet) {
    width: 168px;
  }

  &:is(:focus) .copyright__text::after {
    background-color: $main-color;
  }
}

.copyright__text {
  margin: 0;
  display: block;
  position: relative;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $black-description;

  &::after {
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 253px;
    width: 27px;
    height: 34px;
    mask: url("../../images/logo-html-academy.svg");
    background-color: #666666;

    @media (min-width: $tablet) {
      left: 149px;
    }
  }

  &:is(:hover)::after {
    background-color: $main-color;
  }

  &:active {
    opacity: 0.3;

    &::after {
      background-color: $main-color;
      opacity: 0.3;
    }
  }
}
