.copyright {
  margin-top: 28px;

  @media (min-width: $tablet) {
    margin-top: 8px;
  }
}

.copyright__link {
  margin: 0;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  width: 280px;
  color: #666666;

  @media (min-width: $tablet) {
    width: 162px;
  }

  &:is(:hover, :focus, :focus-visible, :active) .copyright__logo {
    color: $main-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  margin: 0;
  display: block;
  position: relative;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $black-description;
}

.copyright__logo {
  margin-top: -7px;
}
