.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 240px;
  align-items: center;
  padding: 30px 20px 40px;
  background-color: $bg-secondary-grey;

  @media (min-width: $tablet) {
    padding: 55px 30px;
    flex-direction: row;
    min-height: 147px;
  }

  @media (min-width: $desktop) {
    padding: 66px 110px;
    min-height: 169px;
  }
}

.main-footer__logo {
  padding: 10px;
  margin-bottom: 10px;

  @media (min-width: $tablet) {
    margin: 0;
  }

  &:is(:hover, :focus-visible, :focus) {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-footer__logo-image {
  display: block;
}
