.menu-toggle {
  display: none;

  @media (max-width: 767px) {
    display: block;
    position: relative;
    z-index: 1;
    user-select: none;
    width: 24px;
    height: 24px;
    margin-top: -4px;
    margin-right: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

.menu-toggle__toggle-checkbox {
  display: block;
  width: 24px;
  height: 18px;
  position: absolute;
  margin: 0;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

.menu-toggle__toggle-bar {
  display: block;
  width: 24px;
  height: 2px;
  margin-bottom: 6px;
  position: relative;
  background: $black;
  z-index: 1;
  transition:
    transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.55s ease;
}

.menu-toggle__toggle-bar--top {
  transform-origin: right top;
}

.menu-toggle__toggle-bar--bottom {
  transform-origin: right bottom;
  margin: 0;
}

.menu-toggle__toggle-checkbox:checked ~ .menu-toggle__toggle-bar {
  opacity: 1;
  transform: rotate(-45deg);
  background: $black;
}

.menu-toggle__toggle-checkbox:checked ~ .menu-toggle__toggle-bar--middle {
  opacity: 0;
  transform: scale(0.2, 0.2);
}

.menu-toggle__toggle-checkbox:checked ~ .menu-toggle__toggle-bar--bottom {
  transform: rotate(45deg);
}
