.navigation {
  @media (max-width: 767px) {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.5s ease, transform 0.5s ease;

    &--show {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: $white;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 33px;
  }

  @media (min-width: $desktop) {
    background-color: transparent;
  }
}

.navigation__link {
  display: block;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $black;
  text-align: center;

  @media (max-width: 767px) {
    width: 100%;
    padding: 22px 0 24px;
    border-top: 1px solid #e6e6e6;
  }

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    font-size: 20px;
    line-height: 30px;

    &--index-page {
      color: $white;
    }
  }
}
