.navigation {
  @media (max-width: 767px) {
    display: none;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: $white;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 33px;
  }

  @media (min-width: $desktop) {
    background-color: transparent;
  }
}

.navigation__link {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $black;

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    font-size: 20px;
    line-height: 30px;

    &--index-page {
      color: $white;
    }
  }
}
