.offer {
  position: relative;
  min-height: 480px;
  margin: 0 auto;
  padding-bottom: 10px;
  text-align: center;
  display: grid;

  @media (min-width: $tablet) {
    width: $tablet;
    margin-top: -2px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop) {
    width: 100%;

    &::before {
      content: "";
      position: absolute;
      width: 50%;
      height: 694px;
      top: -29%;
      left: 51%;
      z-index: -2;
      background: url("../../images/index-background-desktop@2x.jpg"), $main-color;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left;
    }

    &::after {
      content: "";
      position: absolute;
      width: 50%;
      height: 694px;
      top: -29%;
      left: 51%;
      background-color: $main-color;
      background-size: contain;
      opacity: 0.85;
      z-index: -1;
    }
  }
}

.offer__main-wrapper {
  display: grid;

  @media (min-width: $desktop) {
    width: $desktop;
    display: block;
    margin: 0 auto;
    padding: 56px 190px;
    min-height: 584px;
  }
}

.offer__wrapper {
  position: relative;
  color: $white;
  min-height: 302px;
  padding: 27px 35px 164px;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../../images/index-background-mobile@2x.jpg"), $main-color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -2;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $main-color;
    opacity: 0.85;
    z-index: -1;
  }

  @media (min-width: $tablet) {
    width: 100%;
    margin: 0 auto;
    background: none;
    padding: 40px 120px 50px;
    min-height: 200px;
    text-align: left;

    &::before,
    &::after {
      background: none;
    }
  }

  @media (min-width: $desktop) {
    padding: 0;
    margin: 0;
    min-width: 530px;
    min-height: 232px;
  }
}

.offer__title {
  margin: 0 auto 25px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  width: 250px;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
    margin: 0 auto 40px 0;
    color: $black;
    width: 414px;
    text-align: left;
  }
}

.offer__description {
  margin: 0 auto;
  padding: 0;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  width: 200px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
    color: $black;
    width: 283px;
    margin: 0 auto 0 0;
  }

  @media (min-width: $desktop) {
    max-width: 414px;
  }
}

.offer__image {
  position: relative;
  margin-top: -135px;

  @media (min-width: $tablet) {
    z-index: -1;
    margin-top: -11%;
  }

  @media (min-width: $desktop) {
    z-index: 0;
    margin-top: -368px;
    margin-left: 225px;
  }
}

.offer__button {
  display: block;
  margin: 0 auto;
  margin-top: -2px;
  padding: 10px 63px;
  order: 3;
  width: 280px;

  @media (min-width: $tablet) {
    margin: 0;
    margin-left: 120px;
    padding: 14px 26px;
    width: 244px;
    font-size: 20px;
    line-height: 26px;
    order: 0;
  }

  @media (min-width: $desktop) {
    margin: 0;
  }
}
