.subscription__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.subscription__description {
  font-size: 16px;
  line-height: 24px;
}

.subscription__input {
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
}
