.subscription {
  position: relative;
  padding: 20px 20px 40px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 32px;
    left: 50%;
    background-color: $main-color;
    transform: translate(-50%, -50%);

    @media (min-width: $tablet) {
      top: 54px;
    }

    @media (min-width: $desktop) {
      top: 60px;
    }
  }

  @media (min-width: $tablet) {
    padding: 40px 30px 80px;
  }

  @media (min-width: $desktop) {
    padding: 40px 110px 104px;
  }
}

.subscription__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 708px;
    margin-top: -2px;
  }

  @media (min-width: $desktop) {
    width: 1220px;
  }
}

.subscription__title {
  position: relative;
  z-index: 1;
  width: 232px;
  margin: 0;
  margin-top: 2px;
  margin-left: -40px;
  margin-bottom: 30px;
  background-color: $white;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;

  @media (min-width: $tablet) {
    width: 282px;
    margin-bottom: 66px;
    margin-left: 0;
    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop) {
    width: 333px;
    margin-left: -40px;
    margin-bottom: 72px;
    font-size: 40px;
    line-height: 40px;
  }
}

.subscription__description {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 24px;
  text-align: center;
  font-size: 16px;
  line-height: 24px;

  @media (min-width: $tablet) {
    width: 632px;
    margin-bottom: 23px;
    font-size: 24px;
    line-height: 32px;
  }

  @media (min-width: $desktop) {
    width: 100%;
  }
}

.subscription__form {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 376px 256px;
    width: 632px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 496px 256px;
    width: 752px;
  }
}

.subscription__input {
  font-family: $primary-font;
  width: 100%;
  min-height: 58px;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 13px;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  outline: none;

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border: 2px solid $black-description;
    padding: 12px;

    @media (min-width: $desktop) {
      padding: 13px;
    }
  }

  &:invalid:not(:placeholder-shown) {
    border: 2px solid #ff8282;
    padding: 12px;

    @media (min-width: $desktop) {
      padding: 13px;
    }
  }

  @media (min-width: $tablet) {
    margin: 0;
  }
}

.subscription__button {
  padding: 15px 82px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5eaa2f;
  }

  @media (min-width: $tablet) {
    padding: 15px 70px;
  }
}
